<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>
<form action="{% url 'interact:test' %}" method="post">
{#    <input type="file" id="fileInput" accept="image/*">#}
{#    <img id="imagePreview" style="width: 200px; height: auto;"/>#}
    {{ form.as_p }}

    <hr>
    {{ form.photo }}

    <input type="submit" value="上传图片">
</form>
<script>
    /*
    document.getElementById('fileInput').addEventListener('change', function (event) {
        var file = event.target.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('imagePreview').src = e.target.result;
                console.log(e.target.result)
            };
            reader.readAsDataURL(file);
        }
    });
*/
</script>
</body>
</html>